* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary-color: rgb(67, 155, 255);
  --selected-color: rgb(54, 124, 204);
  --card-color: white;
  --background-color: rgb(232, 232, 232);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  min-width: fit-content;
  background-color: var(--background-color);
}

.App {
  height: 100vh;
  font-family: Verdana;
  display: grid;
  grid-template-rows: max-content auto max-content;
  grid-template-columns: auto auto auto;
}

.content-container {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.MasterCard {
  width: 100%;
  flex-grow: 1;
  padding: 10px;
}

.MetaCard {
  width: 100%;
  padding: 10px;
}

.header {
  grid-row: 1/2;
  grid-column: 1/4;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  padding: 15px;
}

.header h2 {
  color: white;
  font-size: 30px;
  font-weight: normal;
}

.footer {
  grid-row: 3/4;
  grid-column: 1/4;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  position: relative;
  bottom: 0;
}