* {
    color: var(--primary-color);
}

.mastercard-container {
    height: 100%;
    background-color: var(--card-color);
    border-radius: 5px;
    box-shadow: 4px 4px rgb(204, 204, 204);
    display: flex;
    justify-content: center;
}

.tempurature-container {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maintemp-container {
    display: flex;
    justify-content: center;
}

.maintemp-value {
    font-size: 72px;
    font-weight: normal;
}

.maintemp-degrees {
    font-size: 48px;
}

.maintemp-ghost {
    opacity: 0;
    font-size: 48px;
}

.feelsliketemp-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.feelslike-value {
    font-size: 16px;
}

.mode-container {
    display: flex;
    justify-content: center;
}

.mode-container span {
    font-size: 16px;
    padding: 10px;
    margin: 20px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.mode-container span:hover {
    background-color: var(--background-color);
}

.mode-selected {
    border-bottom: 2px solid var(--selected-color);
    color: var(--selected-color);
}

.weathercard-container {
    margin: 30px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid var(--primary-color);
}

.icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

i {
    font-size: 60px;
    padding: 20px 0;
}

.description-container {
    display: flex;
    justify-content: center;
}
